<div class="task-status">
    <h3>@ListStatus (@Items.Count())</h3>
    <ul class="dropzone @dropClass" ondragover="event.preventDefault();"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var item in Items)
        {
            <Item BoardItem="item" />
        }
    </ul>
</div>

@code {

    [CascadingParameter] ItemsContainer Container { get; set; }
    [Parameter] public Status ListStatus { get; set; }
    [Parameter] public Status[] AllowedStatuses { get; set; }

    List<BoardItem> Items = new List<BoardItem>();
    string dropClass = "";

    protected override void OnParametersSet()
    {
        Items.Clear();
        Items.AddRange(Container.Tasks.Where(x => x.Status == ListStatus));
    }

    private void HandleDragEnter()
    {
        if (ListStatus == Container.Payload.Status) return;

        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status))
        {
            dropClass = "no-drop";
        }
        else
        {
            dropClass = "can-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";

        if (AllowedStatuses != null && !AllowedStatuses.Contains(Container.Payload.Status)) return;

        await Container.UpdateJobAsync(ListStatus);
    }
}