@page "/"
@inject IBoardItemService boardService

<a href="/create" class="btn btn-primary">Create new item</a>

<ItemsContainer Tasks="Tasks" OnStatusUpdated="HandleStatusUpdated">
    <ItemList ListStatus="Status.TODO" AllowedStatuses="@(new Status[] { Status.INPROGRESS, Status.DONE })" />
    <ItemList ListStatus="Status.INPROGRESS" AllowedStatuses="@(new Status[] { Status.TODO })" />
    <ItemList ListStatus="Status.DONE" AllowedStatuses="@(new Status[] { Status.INPROGRESS })" />
</ItemsContainer>

@code {
    List<BoardItem> Tasks = new List<BoardItem>();

    protected override async Task OnInitializedAsync()
    {
        Tasks = (await boardService.GetBoardItems()).ToList();
    }

    async Task HandleStatusUpdated(BoardItem updatedTask)
    {
      await boardService.UpdateBoardItem(updatedTask);
    }
}